@media only screen and (max-width: 965px) {
    /* Стиль для отображения в браузере */
    .block-abs {
        width: 100%;
        background-color: rgba(208,0,47,0.8);
        position: relative;
        z-index: 1;
        height: 100%;
        padding: 30px;
        box-sizing: border-box;
    }
    .menu {
        display: block;
        text-align: center;
        float: none;
    }
    .ul-menu {
        display: none;
    }
    .menu-trigger {
        color: white;
        display: block;
        padding-right: 20px;
    }
    .menu-contain {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}